<%- include('partials/_header') -%>

<!-- Simple Pagination css -->
<!-- <link rel="stylesheet" href="vendor/jquery/css/simplePagination.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css" integrity="sha512-m3x+GduGUoEMGB6dywpah/mAG3GafMmxmByGLqKfZFF8xr6THjjOcH0OWV1rLBFiZMotecZxWhRz0lVlVNl72w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/posts.css">

<body class="background-image" style="overflow: hidden;">
  <%- include('partials/_navigation', { user }) -%>
    <% if (hasPosts) { %>
      <div class="posts">
        <div class="input-group mb-3 searchbar">
          <div class="input-search-parent">
            <input id="search" type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
            <span id="clearSearch" class="clear-search">&times;</span>
          </div>
          <!-- <button class="btn btn-primary" type="button" id="button-addon2">Search</button> -->
        </div>
        <div class="posts-container">
          <div id="all-posts" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-1">
              <%- cards %>
          </div>
        </div>
      </div>
      <div class="pagination-container">
        <div id="pagination"></div>
      </div>
    <% } else if (user) { %>
      <%- include('partials/_not_found', { data: { title: "No Posts Found", sub_title: "It seems there are no posts available.", link: "/add-post", link_text: "Add New Post" } }) -%>
    <% } else { %>
      <%- include('partials/_not_found', { data: {title: "No Posts Found", sub_title: "Get Login to add your own posts.", link: "/login", link_text: "Go To Login"} }) -%>
    <% } %>

  <!-- Simple Pagination js -->
  <!-- <script src="/public/vendor/jquery/js/jquery.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js" integrity="sha512-9Dh726RTZVE1k5R1RNEzk1ex4AoRjxNMFKtZdcWaG2KUgjEmFYN3n17YLUrbHm47CRQB1mvVBHDFXrcnx/deDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="js/utility.js"></script>
  <script>
    const debouncedListChange = debounce(handleListChange, 600);

    $(document).ready(function(){
      initScript();
      $("#search").on("input", function() {
        debouncedListChange(this.value,"");
      });

      $("#clearSearch").on("click", function() {
        handleListChange("", "");
        $("#search").val("");
      })
    });

    function initScript () {
      // Initialize pagination
      const pageInfoElem = document.getElementById("page-info-hidden");
      const data = JSON.parse(pageInfoElem.innerText);

      const queryParams = parseSearchQuery();
      if(queryParams.search) $("#search").val(queryParams.search);

      $('#pagination').pagination('destroy');
      if(data.totalPage > 1) {
        initPagination(data.totalPage, data.currentPage);
      } else {
        $(".posts-container").css('max-height', '75vh');
      }
    }

    function handleListChange(search, page) {
      showLoader();
      setSearchQueryParam({"search": search, "page": page});
      getPostsByApi().then(e => {
        hideLoader();
      });
    }

    async function getPostsByApi() {
      let locationSearch = window.location.search;
      let template_url = "/api/posts/cards" + locationSearch;
      let response_template = await fetchData(template_url);

      if(response_template.status != 226) return notify.error("Some error occured");

      appendPostsCard(response_template.decompressedData);
      initScript();
    }

    function initPagination(pages, currentPage=1) {
      $('#pagination').pagination({
        pages: pages,
        currentPage: currentPage,
        displayedPages: 3,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber, event) {
          event.preventDefault();
          showLoader();
          handleListChange($("#search").val(), pageNumber);
        }
      });
    }

    function appendPostsCard(template) {
      const parentDiv = document.getElementById('all-posts');
      parentDiv.innerHTML = '';
      $('#all-posts').append(template);
    }
  </script>
</body>


