<%- include('partials/_header') -%>
  <style>
    .custom-card-container .custom-card {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      text-align: left;
      max-width: 350px;
      margin: 10px;
      margin-top: 10em;
      padding-top: 10px;
    }

    .custom-card-container .card-title {
        display: flex;
        justify-content: space-between;
    }

    .custom-card-container .custom-card:hover {
      transform: scale(1.01);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .custom-card-container .custom-card__title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .custom-card-container .custom-card__text {
      color: #666;
      flex-grow: 1;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .custom-card-container .custom-card__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .custom-card-container .custom-card__action {
      color: #ccc;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
    }

    .custom-card-container .custom-card__action:hover {
      color: #007bff;
    }

    .custom-card-container .custom-card__user-initials {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ddd;
      color: #333;
      font-weight: bold;
      margin-right: 10px;
      cursor: pointer;
    }

    .custom-card-container .custom-card__user-initials:hover {
      background-color: #ccc;
    }

    @media (max-width: 768px) {
        .custom-card-container .custom-card {
        max-width: 100%;
      }
    }
  </style>
<body class="background-image" style="overflow: hidden;">
<%- include('partials/_navigation', { user }) -%>

    <div class="custom-card-container">
      <div class="custom-card">
        <div class="card-title">
            <h3 class="custom-card__title"><%= card.title || 'NA' %></h3>
            <div class="custom-card__user-initials"><%= card.initial || 'NA' %></div>
        </div>
        <p class="custom-card__text"><%= card.description || "NA" %></p>
        <% if (card.admin) { %>
            <div class="custom-card__actions">
              <i class="fas fa-edit custom-card__action"></i>
              <i class="fas fa-trash-alt custom-card__action"></i>
            </div>
        <% } %>
      </div>
    </div>
  <script>
  </script>
</body>
